@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sixtyfour&display=swap");

/* ==================== RESET ==================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    "Sixtyfour", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ==================== ESTRUTURA PRINCIPAL ==================== */

main {
  width: 100%;
  height: 100dvh;
  min-height: 0;
  background-image: radial-gradient(rgb(59, 59, 59), rgb(17, 17, 17));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5vmin;
}

.crt {
  position: relative;
  overflow: hidden;
}

.crt::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;

  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.055) 1px,
    rgba(255, 255, 255, 0.055) 2px,
    transparent 2px,
    transparent 4px
  );
}

.crt::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 11;

  background: radial-gradient(
    ellipse at center,
    transparent 55%,
    rgba(0, 0, 0, 0.25) 100%
  );

  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.8);
}

/* ==================== TÍTULO ==================== */

.title {
  color: white;
  font-size: 6vmin;
  margin: 2vmin;
  text-shadow: 0 0 15px black;
  font-weight: normal;
}

/* ==================== BOTÕES DE CORES ==================== */

.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vmin;
}

.row1,
.row2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.btn {
  min-width: 20vmin;
  min-height: 20vmin;
  border-radius: 2px;
  border: none;
  transition-duration: 0.1s;
  font-size: 10vmin;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.45);
  cursor: pointer;
}

/* ==================== BOTÃO VERMELHO ==================== */

.btnRed {
  background-image: radial-gradient(red, rgb(165, 1, 1));
  box-shadow: 0px 0.5vmin 0 0.5vmin rgb(112, 0, 0);
  font-weight: normal;
}

.btnRed:active,
.btnRed.btnRedActive {
  background-image: radial-gradient(rgb(201, 2, 2), rgb(105, 0, 0));
  box-shadow: 0px 0.3vmin 0 0.3vmin rgb(49, 0, 0);
  transform: translateY(0.6vmin);
  color: rgba(255, 255, 255, 0.2);
}

/* ==================== BOTÃO AZUL ==================== */

.btnBlue {
  background-image: radial-gradient(rgb(51, 38, 231), rgb(9, 7, 117));
  box-shadow: 0px 0.5vmin 0 0.5vmin rgb(16, 0, 73);
  font-weight: normal;
}

.btnBlue:active,
.btnBlue.btnBlueActive {
  background-image: radial-gradient(rgb(32, 2, 201), rgb(0, 2, 105));
  box-shadow: 0px 0.3vmin 0 0.3vmin rgb(0, 3, 49);
  transform: translateY(0.6vmin);
  color: rgba(255, 255, 255, 0.2);
}

/* ==================== BOTÃO AMARELO ==================== */

.btnYellow {
  background-image: radial-gradient(rgb(226, 205, 12), rgb(204, 157, 2));
  box-shadow: 0px 0.5vmin 0 0.5vmin rgb(73, 50, 0);
  font-weight: normal;
}

.btnYellow:active,
.btnYellow.btnYellowActive {
  background-image: radial-gradient(rgb(190, 172, 10), rgb(150, 115, 0));
  box-shadow: 0px 0.3vmin 0 0.3vmin rgb(49, 40, 0);
  transform: translateY(0.6vmin);
  color: rgba(255, 255, 255, 0.2);
}

/* ==================== BOTÃO VERDE ==================== */

.btnGreen {
  background-image: radial-gradient(rgb(75, 216, 10), rgb(7, 117, 22));
  box-shadow: 0px 0.5vmin 0 0.5vmin rgb(9, 73, 0);
  font-weight: normal;
}

.btnGreen:active,
.btnGreen.btnGreenActive {
  background-image: radial-gradient(rgb(51, 160, 0), rgb(12, 99, 0));
  box-shadow: 0px 0.3vmin 0 0.3vmin rgb(7, 32, 0);
  transform: translateY(0.6vmin);
  color: rgba(255, 255, 255, 0.2);
}

/* ==================== DISPLAY ==================== */

.display {
  width: 55vmin;
  min-height: 15vmin;
  margin: 4vmin 2vmin;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5vmin;
  border: 0.6vmin solid rgb(54, 54, 54);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

#textDisplay {
  color: rgb(255, 208, 0);
  text-shadow: 0px 0px 5px rgb(255, 208, 0);
  font-size: 5vmin;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  font-family: "Sixtyfour";
  user-select: none;
}

/* ==================== INDICADOR ==================== */

#indicador {
  position: relative;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#indicadorPNG {
  margin: 5px;
  border-radius: 50%;
  border: none;
  transition-duration: 0.1s;
  font-size: 10vmin;
  background-image: url(./images/indicador.png);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
  transform: scale(1.1);
  /* box-shadow: 0px 0px 10px black; */
}

#indicador #iconeAcerto {
  color: rgba(255, 255, 255, 0.75);
  font-size: 10vmin;
  font-weight: bold;
  display: none;
}

#indicador #iconeErro {
  color: rgba(0, 0, 0, 0.75);
  font-size: 10vmin;
  font-weight: bold;
  display: none;
}

/* ==================== BOTÃO JOGAR ==================== */

.play {
  margin: 5px 5px 10px 5px;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  border: none;
  font-size: 10vmin;
  cursor: pointer;
  background-image: url(./images/play.png);
  background-size: contain;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.1s;
  transform: scale(1.1) translateY(5px);
  /* box-shadow: 0px 0px 5px black; */
}

.play span {
  font-size: 125%;
  color: #04422a;
  user-select: none;
}

.play:active {
  transform: translateY(5%);
  filter: brightness(50%);
}

.play:hover {
  filter: brightness(125%);
}

.play:active span {
  color: #021f14;
}

.txt-botoes {
  color: #00ff9d;
  text-shadow: 0px 0px 10px #06422b;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  user-select: none;
}

/* ==================== BOTÕES FLUTUANTES ==================== */

#floatBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/* ==================== BOTÃO CONFIG ==================== */

#config {
  background-image: url(./images/config.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 10vmin;
  height: 10vmin;
  min-width: 50px;
  min-height: 50px;
  border: none;
  cursor: pointer;
  transition-duration: 0.1s;
}

#config:hover {
  transform: scale(1.1) translateY(-5%);
  filter: saturate(1000%);
}

/* ==================== BOTÃO RANKING ==================== */

#ranking {
  background-image: url(./images/trophy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 10vmin;
  height: 10vmin;
  min-width: 50px;
  min-height: 50px;
  border: none;
  cursor: pointer;
  transition-duration: 0.1s;
}

#ranking:hover {
  transform: scale(1.1) translateY(-5%);
  filter: saturate(1000%);
}

/* ==================== INPUT DIFICULDADE ==================== */

#dificuldadeID {
  width: 100%;
  background-color: black;
  color: #ffd000;
  padding: 10px 5px;
  border: 1px solid #9e6a09;
  margin-left: 5px;
  outline: none;
  box-shadow: none;
}

#difculdadeID:focus {
  outline: none;
}

#difNormal {
  color: #ffefa9;
}

#difDificil {
  color: #ffd000;
}

#difMuitoDificil {
  color: #eb0c0c;
}

#difImpossivel {
  color: #a700d1;
}

/* ==================== MODAL DO RANKING ==================== */

#fundoRank {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#tabelaRanking {
  width: 80%;
  max-width: 400px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
}

.tituloModal {
  text-align: center;
  font-family: "Sixtyfour";
  color: #ffd000;
}

#fecharRanking {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
  text-align: end;
  width: 100%;
}

/* ==================== MODAL CONFIGURAÇÕES ==================== */

#fundoConfig {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#boxConfig {
  width: 80%;
  max-width: 400px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boxConfig h2 {
  margin-bottom: 5vmin;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ffd000;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(-1px);
}

input[type="checkbox"]:checked {
  border: 2px solid #9e6a09;
  background-color: #ffd000;
}

input[type="range"] {
  appearance: none;
  min-width: 20px;
  max-width: 100px;
  height: 20px;
  border: 2px solid #9e6a09;
  background-color: transparent;
  background-color: #ffd000;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #9e6a09;
  border: 2px solid #3d2902;
}

#fecharConfig {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
  text-align: end;
  width: 100%;
}

.linhaCheckbox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vmin;
}

.linhaCheckbox a {
  text-decoration: none;
  color: #ffd000;
}

.linhaCheckbox a:hover {
  text-decoration: underline;
  color: #9e6a09;
}

/* ==================== LISTA DO RANKING ==================== */

#nomeRanking {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

#nomeRanking span {
  color: white;
  font-family: "Sixtyfour";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

/* ==================== MODAL DE REGISTRO ==================== */

#fundoRegistroRank {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#registrarRanking {
  width: 80%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fecharRegistroRanking {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
  text-align: end;
  width: 100%;
}

#registrarRanking h2 {
  color: rgb(150, 150, 150);
  text-align: center;
}

#registrarRanking h3 {
  color: white;
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
}

/* ==================== REGISTRO DO NOME ==================== */

#registrarNome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.letras {
  font-family: "Sixtyfour";
  background-color: transparent;
  color: white;
  text-align: center;
  width: 15vw;
  height: 15vw;
  max-width: 75px;
  max-height: 75px;
  font-size: clamp(20px, 8vw, 50px);
  text-transform: uppercase;
  border: 2px solid gray;
  margin-top: 10px;
}

.letras:focus {
  outline: 1px solid rgb(255, 208, 0);
}

.salvarNome {
  background-color: transparent;
  color: white;
  font-family: "Sixtyfour";
  width: 100px;
  margin: 20px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salvarNome:hover {
  color: rgb(255, 208, 0);
}

#avisoNome {
  display: none;
  color: #ffd000;
  font-style: italic;
  font-size: 0.9em;
}

/* ==================== RESPONSIVIDADE ==================== */

@media (max-width: 600px) {
  .title {
    font-size: 7vmin;
    margin-bottom: 5vmin;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
  }

  .content > .content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btn {
    font-size: 10vmin;
    width: 30vmin;
    height: 30vw;
    margin: 1vmin;
  }
  .btnGroup {
    margin: 5vmin;
  }

  .play,
  #indicador {
    width: 25vmin;
    height: 25vmin;
  }

  .txt-botoes {
    font-size: 3vmin;
    margin-top: 1vmin;
  }

  .display {
    width: 90vmin;
    height: 20vmin;
    margin: 5vmin;
  }

  #textDisplay {
    font-size: 4vmin;
  }
}
